.names {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Verdana, sans-serif;
    color: rgb(44, 0, 88);
}

.buttonHidden {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
}

html {
    background-color:rgb(255, 192, 234);
    height: 100%;
    width: 100%;
}

.body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    height: 100%;
    background-color:rgb(250, 165, 214);
}

.headerMain {
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    font-family: Georgia, serif;
    color: rgb(44, 0, 88);
}

.descMain {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Verdana, sans-serif;
    color: rgb(44, 0, 88);
}

.initialButton {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(240, 130, 180);
    border: none;
    color: rgb(44, 0, 88);
    text-align: center;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.runButton {
    background-color: rgb(240, 130, 180);
    border: none;
    color: rgb(44, 0, 88);
    text-align: center;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.clearButton {
    background-color: rgb(240, 130, 180);
    border: none;
    color: rgb(44, 0, 88);
    text-align: center;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.inputSet {
    font-family: Verdana, sans-serif;
    color: rgb(44, 0, 88);
}

.input {
    border: 3px solid rgb(240, 130, 180);
    border-radius: 4px;
    background-color: rgb(250, 214, 238);
    color:rgb(44, 0, 88);
    font-size: 12px;
}

.result {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Verdana, sans-serif;
    color: rgb(44, 0, 88);
}